# Ignore everything by default.
/*

# Keep this file.
!.gitignore

# Whitelisted instance content.
!config/
/config/jei/world/
!data/
!fancymenu_data/
/fancymenu_data/last_world.fmdata
!global_packs/
!kubejs/
!local/
!icon.png
!modlist.html
